@import url(https://fonts.bunny.net/css?family=source-sans-3:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

:root {
  --bs-body-font-family: "Source Sans 3", var(--bs-font-sans-serif);
  --bs-body-font-size: 1.1rem;
  --bs-primary: #009adf;
  --bs-primary-rgb: 0, 154, 223;
  --bs-link-color: var(--bs-primary);
  --bs-link-hover-color: #005684;
}

.accordion {
  --bs-accordion-active-color: var(--bs-link-hover-color);
  --bs-accordion-active-bg: #ebf9ff;
}

.specs-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.specs-sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 3rem;
  display: block !important;
  height: calc(100vh - 4rem);
  padding-left: 0.25rem;
  margin-left: -0.25rem;
  overflow-y: auto;
}

.specs-main {
  display: grid;
  grid-area: main;
  grid-template-areas:
    "intro toc"
    "content toc";
  grid-template-rows: auto 1fr;
  grid-template-columns: 4fr 1fr;
  gap: inherit;
}

.specs-content {
  grid-area: content;
}

.specs-content section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.specs-resources {
  grid-area: toc;
}

.headerlink {
  padding: 0 0.175rem;
  font-weight: 400;
  color: rgba(var(--bs-primary-rgb), 0.5);
  text-decoration: none;
  opacity: 0;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink {
  color: var(--bs-primary);
  text-decoration: none;
  opacity: 1;
}

.headerlink:hover {
  color: var(--bs-link-hover-color) !important;
}

.specscontent-link .card,
.specscontent-link .specscontent-body-title,
.specscontent-icon,
.headerlink,
a {
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    opacity 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.specscontent-link:hover .specscontent-body-title {
  color: var(--bs-primary) !important;
}

.specscontent-body-title:hover {
  color: var(--bs-link-hover-color) !important;
}

.specscontent-link:hover .card {
  border-color: var(--bs-primary) !important;
}

.specscontent-link:hover .specscontent-icon {
  background-color: var(--bs-primary) !important;
}

.objectivesindex-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.objectivesindex dd ul,
.objectivesindex dd ul li:last-child p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.bi {
  padding: 20px;
}

.specs-sidebar nav {
  font-size: 0.875rem;
}

.specs-sidebar nav ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.specs-sidebar nav a {
  color: inherit;
}

.specs-sidebar nav a:hover {
  text-decoration: underline;
}

.specs-sidebar nav > ul > li > a {
  display: none;
}

.specs-sidebar nav > ul > li > ul ul {
  padding-left: 1rem;
}

.specssteps-list {
  counter-reset: step;
}

.specssteps-list .accordion-item {
  counter-increment: step;
}

.specssteps-list .accordion-button {
  font-weight: 500;
}

.specssteps-list .accordion-button::before {
  content: counter(step) ".";
  padding-right: 0.5rem;
  font-weight: 700;
}

.highlight {
  padding: 1rem;
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: calc(0.375rem - 1px);
}
